# Dependencies
node_modules/

# Build output
.next/
out/

# Firebase
.firebase/

# Env
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
